obj/
bin/

TemplatePrinting/out/**/*.*

TemplatePrinting/templates/*.*
!TemplatePrinting/templates/*.xlsx
!TemplatePrinting/templates/*.html
!TemplatePrinting/templates/*.css
!TemplatePrinting/templates/*.ttf

PrintingLibrary/lib/chrome-headless-shell-win64

.sonarqube
.vs
