obj/
bin/

printer/out/**/*.*

printer/templates/*.*
!printer/templates/*.xlsx
!printer/templates/*.html
!printer/templates/*.css
!printer/templates/*.ttf

printer/lib/chrome-headless-shell-win64

.sonarqube
.vs
