obj/
bin/

TemplatePrinting/printer/out/**/*.*

TemplatePrinting/printer/templates/*.*
!TemplatePrinting/printer/templates/excel/*.xlsx
!TemplatePrinting/printer/templates/html/**/*.*

PrintingLibrary/lib/chrome-headless-shell-win64

.sonarqube
.vs
